Transform: S3Objects

Parameters:
  S3BucketRef:
    Description:  A reference to the S3 bucket created in the service stack
    Type: String
    Default: com-github-dstaflund-udagram-s3-bucket

Resources:
  ZippedTestFile:
    Type: AWS::S3::Object
    Properties:
      Target:
        Bucket: !Sub ${S3BucketRef}
        Key: working-test.zip
        ACL: public-read
        ContentType: application/zip
      Base64Body: UEsDBBQACAAIAKFr1k4AAAAAAAAAAKoAAAAKACAAaW5kZXguaHRtbFVUDQAHfoEOXX6BDl1+gQ5ddXgLAAEE6AMAAAToAwAALY69DsIwDIT3PIWbGejK4GbhR2KCIRViDI2VRjRplVpCfXsaUi9nnb87Gavz/aRfjwv0HAYlMAsMJrpGUpTZIGOVgHUwEBvoepNm4ka2+ro/yu3EngdSzzF9fHSgaWasiyewLhX4Hu2y4ZO6MXxXeq4AWmtcMmGXl87zcsB6yrHCr/H/Zz9QSwcImAasjoYAAACqAAAAUEsBAhQDFAAIAAgAoWvWTpgGrI6GAAAAqgAAAAoAIAAAAAAAAAAAALSBAAAAAGluZGV4Lmh0bWxVVA0AB36BDl1+gQ5dfoEOXXV4CwABBOgDAAAE6AMAAFBLBQYAAAAAAQABAFgAAADeAAAAAAA=
