Transform: S3Objects

Parameters:
  S3BucketRef:
    Description:  A reference to the S3 bucket created in the service stack
    Type: String
    Default: com-github-dstaflund-udagram-s3-bucket

Resources:
  ZippedTestFile:
    Type: AWS::S3::Object
    Properties:
      Target:
        Bucket: !Sub ${S3BucketRef}
        Key: working-test.war
        ACL: public-read
        ContentType: application/java-archive
      Base64Body: UEsDBAoAAAAAAOxQ104AAAAAAAAAAAAAAAAIAAAAV0VCLUlORi9QSwMEFAAAAAgA7FDXTiHIfcinAAAAMAEAAA8AAABXRUItSU5GL3dlYi54bWyFkD8PgjAQxXc+RdOdFpTBEP5sTjipiRuppYESaRuuoXx8sRGiE7e93O/l3b2snIcXmsQIUqscxyTCSCiuG6naHN9v5/CEyyLInHiGzBi00Apy3FlrUkq9Ij03RI/tR1EFtGcTEwIHaB1PpTPIzeecI+7oTYcoiunjUl15JwYWSgWWKf5nB5mC31aaM+vv3M9H+wj9PlUndURmaH4yt0KSpZDl/RUt3lBLAwQUAAAACAAvUddOXZFN6IYAAACyAAAACgAAAGluZGV4Lmh0bWw1jj0PwiAQQPf+iiuzyupAWfxInHSgMY5YCDQF2sAlpv9ekDrdy13ey7H2fD+J1+MCFr3jDSsDnAymIzoQ3gAwq6UqkNFrlDBYGZPGjvTiuj+S7YQjOs2fc5zGYEDohIzWXWnQf4S9Z7VuysJvCJ9spBagV9JE6XcFhhHXA6NLVauRE78Pv1BLAQIfAAoAAAAAAOxQ104AAAAAAAAAAAAAAAAIACQAAAAAAAAAEAAAAAAAAABXRUItSU5GLwoAIAAAAAAAAQAYAL9rtL/dKdUBv2u0v90p1QFnqLO/3SnVAVBLAQIfABQAAAAIAOxQ104hyH3IpwAAADABAAAPACQAAAAAAAAAIAAAACYAAABXRUItSU5GL3dlYi54bWwKACAAAAAAAAEAGAATCLW/3SnVAb9rtL/dKdUBv2u0v90p1QFQSwECHwAUAAAACAAvUddOXZFN6IYAAACyAAAACgAkAAAAAAAAACAAAAD6AAAAaW5kZXguaHRtbAoAIAAAAAAAAQAYAEUHNgreKdUBRQc2Ct4p1QFFBzYK3inVAVBLBQYAAAAAAwADABcBAACoAQAAAAA=
